<div class="col-lg-8 col-lg-offset-2 ">
	<div class="jumbotron well">
		<h1 class="text-center">Ray.Mundo.Calderon</h1>
		<hr>
		<h2 class="text-center text-muted">¡Deja.te.explico, Federico!</h2>
		
		<ol class="lead">
			<li>a full-stack <strong>LAMRubyonRails developer</strong></li>
			<li>multi-instrumental <strong>musician</strong> and multi-medium music nerd. current obsession: <span class="label label-primary">70s Italian Jazz Soundtracks</span></li>
			<li>an experienced and groovy/jazzy freelance web developer and consultant. email him at 
				<strong><%= mail_to "mundocalderon@gmail.com" %></strong></li>
		</ol>

		<div class="embed-responsive embed-responsive-4by3">
		  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o4SC8rj7vrA" allowfullscreeen></iframe>
		  
		</div>
	</div>
</div>