<div class="col-md-10 col-md-offset-1">
	<h1 class="">Resume <small>& Fancy Tech Words</small></h1>
	<hr>
	<div class="row">
		<div class="col-md-9">
		
			<section>
				<div class="row">		
					<div class="col-md-3"><h3 class="heading-resume"><strong>Raymundo Calderon</strong></h3></div>
					<div class="col-md-9">
						<p><address>
						  <%= mail_to "mundocalderon@gmail.com" %>><br>
						  310.867.1182
						</address>
						</p>
					</div>
				</div>
			</section>
		
			<section>
				<div class="row">		
					<div class="col-md-3"><h3 class="heading-resume">Skills</h3></div>
					<div class="col-md-9">
						<strong>Used actively</strong>
						<p>Agile, AJAX, Bash, Bcrypt, CSS, DelayedJob, Devise, DNS, Git, Heroku, HTML, ImageMagick, JavaScript, JQuery, JSON, LESS, Linux, MySQL, 						OSX, Phusion Passenger, PostgreSQL, RSpec, Ruby, Ruby on Rails, RVM, S3, Sass, SCRUM, Sidekiq, SQL, SQLite, Twitter Bootstrap, Vim, 						Wordpress, XML
						</p>

						<strong>Used when needed</strong>
						<p>Apache, CentOS, CoffeeScript, DHCP, Drupal, ElasticSearch, Exchange FTP, Illustrator, IMAP, Nagios, NGiNX, PHP, Photoshop, POP, Perl, 						Python, RSS, SMTP, Spree, Windows
						</p>

						<strong>Used, but mostly forgotten</strong>
						<p>ASP, C, C++, C#, CodeIgniter, CVS, Django, Fireworks, Java, 
						Samba, Sendmail, Solaris, Sony SDK, Subversion, Gimp, Ubuntu, 
						</p>
						
					</div>
				</div>
			</section>
		
			<section>
				<div class="row">		
					<div class="col-md-3">
						<h3 class="heading-resume">Experience</h3>
					</div>
					<div class="col-md-9">
						<strong>MundoMundo</strong>
						<br>
						<div class="pull-left text-muted">Full-Stack Developer & Consultant</div>
						<div class="pull-right text-muted">2014 - present</div>
						<br>
						 <p>As a freelance web developer I design and build web pages and web application for clients of varying backgrounds. The projects vary in size and complexity and are built using Ruby on Rails 4, are hosted on Heroku servers, and use Amazon's S3. I also provide technical assistance to clients with pre-existing webpages.   </p>
						 <p>For a sample of work, please visit my <%= link_to "Portfolio", '/portfolio'%> </p>
						
						<br>
						<strong>California Appellate Project</strong>
						<br>
						<div class="pull-left text-muted">Webmaster & Information Resources Administrator</div>
						<div class="pull-right text-muted">2011 - 2014</div>
						<br>
						 <p>The California Appellate Project in San Francisco (CAP-SF) is a non-profit corporation established by the State Bar of California in 1983 as a legal resource center to implement the constitutional right to counsel for indigent persons facing execution. I fulfilled many roles while working for this NPO, including but not limited to, being the in-house web developer, being first-tier IT Support, Resource Administrator,  SQL Report writer, and various other roles.  </p>
						<ul>
							<li>Centrally designed, developed, and maintained CAP’s website and ensured that posted materials were in a searchable, user-friendly format. </li>
							<li> Obtained, developed, and monitored the timely updating of resources and publications that are helpful to case assistance end essential for building CAP’s collection of reliable materials. </li>
							<li> Maintained and wrote resource reports by extracting data on CAP’s docketing SQL database.</li>
							<li> Provided technical assistance to computer users onsite and offsite. Answered questions and resolved computer problems for staff.</li>
						</ul>
						
						<br>
						
						<strong>Chirply Inc.</strong>
						<br>
						<div class="pull-left text-muted">Software Engineer</div>
						<div class="pull-right text-muted">2010 - 2011</div>
						<br>
						 <p>Chirply is a platform for crowd-sourcing & crowd-curating design. Chirply's mission is to build engagement, stickiness, and virality through crowd-sourcing design. </p>
						 <ul>
							 <li>Wrote software to create, showcase, and distribute illustrations. </li>
							 <li>Web apps were primarily written in Ruby on Rails, and there was opportunity to solve challenges related to: scaling and availability; providing rich, rewarding user experiences. </li>
							 <li>Worked on both front-end and back-end web development</li>
						 </ul>
						
					</div>
				</div>
			</section>
		
			<section>
				<div class="row">		
					<div class="col-md-3"><h3 class="heading-resume">Education</h3></div>
					<div class="col-md-9">
						<strong>University of California Santa Cruz</strong>
						<br>
						<div class="pull-left text-muted">B.S. Computer Science</div>
						<div class="pull-right text-muted">2006 - 2010</div>
						<br>
						 <p> Under the tutelage of Artificial Intelligence pioneer Michael Mateas, we petitioned to have the school acquire Sony’s Development Kit. After embarking on the yearlong project, I became the Product Owner and was heavily involved in writing the code for the controls, camera, splash/loading screens, state machine, individual levels, etc. I was also in charge of all the Unit Testing, System Testing, A/B testing, etc.
   </p>
						
						<br>
					</div>
				</div>
			</section>
		</div>
	
		<div class="col-md-3">
			<div class="well well-sm "><strong>Attention Recruiters</strong>
				<p>I'm always open to fun, new and challenging opportunities.</p>
				<a href="https://github.com/mundocalderon"><i class="fa fa-github-square fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/mundomundo"><i class="fa my-fa-linkedin-square fa-2x"></i></a>
				<a href="http://stackoverflow.com/users/923949/mundo-calderon"><i class="fa fa-stack-overflow fa-2x"></i></a>
				<a href="https://www.facebook.com/mundocalderon"><i class="fa my-fa-facebook-square fa-2x"></i></a>
				<a href="https://instagram.com/mundocalderon/"><i class="fa my-fa-instagram fa-2x"></i></a>
				<a href="https://twitter.com/mundocalderon"><i class="fa my-fa-twitter-square fa-2x"></i></a>
			</div>
		</div>
	</div>
</div>