<div id="content-left">
  <div id="content-left-in">
    <h2>Brief Bank</h2>
      <p>CAP publishes to the Brief Bank the pleadings it has collected from private counsel, 
      OSPD, HCRC, and the FPD since 1977.On this page,you may select particular pleadings based on the 
      selection criteria below. If you wish to search the content of the pleadings in the brief bank, 
      select Advanced Search above.</p>

  </div>
</div>
