<div id="content-left">
  <div id="content-left-in">
    <h2>Publications & Library</h2>
        <p>Listing of major CAP publications as well as a tool for looking up materials that are kept in CAP's library</p>  

    <% @entries.each do |entry| %>
      <div class="article box">
        <div class="article-desc">
          <h3><%= link_to "#{entry.title.titleize}", entry.doc_url.to_s %></h3>

          <!-- <p class="info">Published on: <strong><%= entry.created_at.strftime('%B %d, %Y') %></strong></p>
          <p class="nomb"><%= entry.description.capitalize %></p>-->
        </div>
      </div>
    <% end %>

  </div>
</div>
