<div class="header-image">
	<div class="pixel-overlay"></div>
	<img width="100%"  src="/images/stella_jumbo.JPG">
	<!--div class="headline">
		<h1>Joel Gion</h1>
	</div-->
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
	  		  <p><%= link_to "Joel Goin Gion Gion Goin Goin", joel_path %><br>
			  <%= link_to "The Primary Colours Schmalours", tpc_path %></p>
		</div>
	</div><!--/row-->