<div class="container">
  <div class="row">
    <div class="col-md-12">
		<div class="page-header">
			<h1>Contact:</h1>
		</div>
		<address>
			<strong>jOeL</strong><br>
			<a href="mailto:joelgionprimarycolours@gmail.com">joelgionprimarycolours@gmail.com</a>
		</address>

		<address>
			<strong>JG & The Primary Colours</strong><br>
			<a href="https://www.facebook.com/messages/1390547224522132">Facebook</a>
		</address>
      </div>
    </div><!--/row-->
</div> <!-- /container -->

