<div class="header-image">
	<div class="pixel-overlay"></div>
	<!--div class="headline">
		<h1>Joel Gion</h1>
	</div-->
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
	  		  <div class="home-image-center"><%= link_to image_tag("jg_logo.jpg", :border => 0, :class => "img-responsive"), joel_path %></div>
			  <hr style="height:3px;border:none;color:#fff;background-color:#fff;">
			  <div class="home-image-center"><%= link_to image_tag("tpc_logo.jpg", :border => 0, :class => "img-responsive"), tpc_path %></div>
		</div>
	</div><!--/row-->

