              <h3>LIBRARY OF DEATH PENALTY DEFENSE TRAINING MATERIALS</h3>

          <p>For Review by Attorneys Seeking Appointment by the California Supreme Court in Automatic Appeals and/or 
 Capital Habeas Corpus Proceedings. Available by Appointment at the California Appellate Project.</p>
          <p><span style="color: red">(Links are to Westlaw.com, who will charge the user's account for on-line access)</span></p>
          <p><strong>July 2007</strong></p>
          <p><strong><u>BOOKS</u>:</strong></p>
              <p>Rivkind, Nina and Shatz, Steven, <u>Cases and Materials on the Death Penalty</u>, West Group, 2001</p>
          <p>
              Coyne, Randall &amp; Entzeroth, Lyn, <u>Capital Punishment and the Judicial Process, 2nd Edition</u>,
              <st1:place w:st="on"></st1:place>
              <st1:city w:st="on"></st1:city>
              Carolina Academic Press (2001). [This law school case book can serve as an introduction to selected topics in capital litigation. In particular, counsel should direct their attention to Chapters 3-11.]</p>
          <p>
              Erwin, Millman, et al., 
              <st1:place w:st="on"></st1:place>
              <st1:state w:st="on"></st1:state>
              <u>California</u> <u>Criminal Defense Practice</u>, Volume 4, Chapter 87: <em>Death
                  Penalty</em>, Matthew Bender (1998).</p>
          <p>
              Grandsaert, John L. &amp; McWilliams, James D., <em>Death Penalty Cases</em>, in
              <u>California Criminal Law Procedure and Practice</u>, Fourth Ed., Chapter 55, Continuing Education of the Bar (1996).</p>
          <p>
              Ninth Circuit Judicial Council, <u>Ninth Circuit Capital Punishment Handbook</u>
              (1999).</p>
          <p>
              California Appellate Project, <u>Representation in Capital Appeals and Habeas Corpus
                  Proceedings</u> [a comprehensive litigation ?how to? practice manual].</p>
          <p>
              California Appellate Project, <u>Death Penalty Information Bank Index [</u>an extensive index of death penalty law and practice, with topic by topic reference to relevant case law, briefs, petitions and other pleadings].</p>
          <p style="margin-bottom: 0pt;">
              <strong><u>ARTICLES AND CASE LAW IN HARDCOPY</u>:</strong></p>
<p style="margin-top: 0;"><strong><br>
</strong>Avena v. Mexico International Court of Justice 3/31/2004 General List 
              No.128.</p>
<p>
              Blume, John, Ten Years of Payne: Victim Impact Evidence in <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=98+Cornell+L.+Rev.+257">
                  Capital Cases (98 Cornell L. Review 257) (2003)</a></p>
          <p>
              Blume, John, <em>Mental Health Issues in Criminal Cases: The Elements of a Competent and Reliable Mental Health Examination</em>, <u>The Advocate</u>, Vol. 17, No. 4 (KY Dept. of Public Advocacy), August 1995.</p>
          <p>
              Bright, Stephen B.,<em> Challenging Racial Discrimination in Capital Cases,</em>
              <u>The Champion</u>, Vol. XXII, No. 1 (January/ February 1997).</p>
          <p>
              Bright, Stephen B., <em>Discrimination, Death and Denial: The Tolerance of Racial Discrimination in </em><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=35+Santa+Clara+L.+Rev.+433">
                      Infliction of the Death Penalty, 35 Santa Clara Law Review 433 (1995)</a></span></em>.</p>
          <p>
              Burt, Michael, <em>Effective Capital Representation in the 90s</em>, <u>CACJ Forum</u>, Vol. 20, No. 2, p. 23 (June 1993).</p>
          <p>
              Coyne, Randall &amp; Entzeroth, Lyn, <em>Report Regarding Implementation of the American Bar Association's Recommendations and Resolutions Concerning the Death Penalty and Calling For a Moratorium on Executions</em>, 4 <u>Georgetown Journal on Fighting Poverty</u>
              3 (Fall 1996).</p>
          <p>
              <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=77+N.C.+L.+Rev.+1143">
                  Crocker, Phyllis L., Childhood Abuse and Adult Murder: Implications For, 77 North Carolina Law Review 1143 (March 1999)</a>.</p>
          <p>
              Crocker, Phyllis L., <em>Concepts of Culpability and Deathworthiness: Differentiating Between Guilt and Punishment in </em><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=66+Fordham+L.+Rev.+21">
                      Death Penalty Cases, 66 Fordham Law Review 21 (1997)</a></span></em>.</p>
          <p>
              Goodpaster, Gary, <em>The Trial for Life: Effective Assistance of Counsel in </em>
              <em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=58+N.Y.U.+L.+Rev.+299">
                  Death Penalty Cases, 58 NYULR 299 (May, 1983)</a></span></em></p>
          <p style="margin-bottom: 0pt;">
              <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=35+Santa+Clara+L.+Rev.+547">
                  Haney, Craig, <em>The Social Context of Capital Murder: Social Histories and the Logic of Mitigation, </em>35 </a>
              <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=35+Santa+Clara+L.+Rev.+547">
                  Santa Clara Law Review 547 (1995)</a>.</p>
<p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
<p style="margin-top: 0;">Haney, Craig,<em><span style="font-style: normal; mso-bidi-font-style: italic"> </span>
  Mental Health Issues in Long-Term Solitary and ?Supermax? Confinement Crime and
  Delinquency, </em>Vol. 49 No 1 (January 2003)<em>
    <o:p></o:p>
  </em></p>
<p>Holzman, Beth F.,<em> The Absence of Malice, The Changing Face of California's Homicide Prosecutions,</em> <u>CACJ Forum</u>, Vol. 23, No. 3-4 (Oct. 1996)</p>
<p>
              <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=100+Colum.+L.+Rev.+2030">
                  Liebman, James S., The Overproduction of Death, 100 Columbia Law Review 2030 (December 2000)</a>.</p>
          <p>
              Logan, Deana Dorman, <em>Learning to Observe Signs of Mental Impairment</em>, <u>CACJ
                  Forum</u>, Vol. 19, No. 5-6, p. 40 (1992).</p>
          <p>
              Miller, Jill, <em>The Growing Need for Early and Comprehensive Mitigation Investigations</em>, 
              reprinted with permission in <u>The Fight for Life</u>, March 1, 1998, 
              published by the Capital Division of the Tennessee District Public Defenders 
              Conference.</p>
          <p>
              No author, <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=120+Harv.+L.+Rev.+1301">
                  A New Test for Evaluating Eighth Amendment Challenges to Lethal Injections, 120
                  HVLR 1301, (March 2007)</a></p>
          <p>
              <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=30+Santa+Clara+L.+Rev.+333">
                  Poulos, John W., The Lucas Court and Capital Punishment: The Original Understanding of the Special Circumstances, 30 Santa Clara Law Review 333 (Spring 1990)</a>.          </p>
          <p>
              <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=27+San+Diego+L.+Rev.+521">
                  Poulos, John W., The Lucas Court and the Penalty Phase of the Capital Trial: The Original Understanding, 27 San Diego Law Review 521 (1990)</a>.</p>
          <p>
              Ricciardulli, Alex, <em>Attacking the Constitutionality of Section 190.2 Special Circumstances</em>,
              <u>CACJ Forum,</u> Vol.22, No.3, p. 31 (Nov. 1995).</p>
          <p>
              Shatz, Steven F. &amp; Rivkind, Nina, <em>The
                  <st1:place w:st="on"></st1:place>
                  <st1:state w:st="on"></st1:state>
                  California Death Penalty Scheme: Requiem for Furman</em>? (<a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=72+N.Y.U.+L.+Rev.+1293">72 N. Y. U. L. Rev. 1293) (1997)</a>.</p>
          <p>
              <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=68+Fordham+L.+Rev.+1581">
                  Slobogin &amp; Mashburn, The Criminal Defense Lawyer's Fiduciary Duty Clients with Mental Disability, 68 Fordham Law Review 1581 (April 2000)</a></p>
          <p>
              <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=109+Harv.+L.+Rev.+355">
                  Steiker, Carol S. &amp; Steiker, Jordan M., Sober Second Thoughts: Reflections on Two Decades of Constitutional Regulation of Capital Punishment, 109 Harvard Law Review 355 (1995)</a></p>
          <p>
              Tomes, Jonathan P., <em>Damned If You Do, Damned If You Don't: The Use of Mitigation Experts in </em><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=24+Am.+J.+Crim.+L.+359">
                      Death Penalty Litigation, (24 Am. J. Crim. L. 359) (Spring, 1997)</a></span></em>.</p>
          <p style="margin-bottom: 0;">
              White, Welsh, <em>Effective Assistance of Counsel in </em><em><span style="font-style: normal">
                  <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=1993+U.+Ill.+L.+Rev.+323">
            Capital Cases: The Evolving Standard of Care, (1993 U. Ill. L. Rev. 323) (1993)</a></span></em><strong>.</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><b><br
                          style="mso-special-character: line-break" />
</b></p>
<p style="margin-top: 0; margin-bottom: 0pt;">
              <strong><u>VIDEO TAPES</u></strong>:<br style="mso-special-character: line-break" />
              <br>
              <em>Inside the California Supreme Court</em>, [11 minutes] 
                  <strong>
                  <st1:place w:st="on"></st1:place>
                  <st1:state w:st="on"></st1:state>
                  </strong>              California Supreme Court (2002) <em>Handling Death Penalty Appeals &amp; Related Habeas Corpus Proceedings</em>
            [2 tapes, approximately 2 1/2 hours], California Supreme Court (May 1999)</p>
          <p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0pt;">
              <em>How to Win a Capital Case in the 1990's</em>, Association of the Bar of the City of 
              <st1:place w:st="on"></st1:place>
              <st1:city w:st="on"></st1:city>
              New York (1992)</p>
          <blockquote style="margin-top: 5pt; margin-bottom: 5pt">
              <p style="margin: 0in 0in 0pt; margin-bottom: 0;">
                  1. Successfully Representing Capital Defendants in the 1990's</p>
              <p style="margin-top: 0; margin-bottom: 0;">2. The Changing World of Habeas Corpus</p>
<p style="margin-top: 0; margin-bottom: 0;">3. Non-Legal Avenues</p>
</blockquote>
          <p>
              <strong><u>CASES</u>:</strong></p>
          <p style="margin-bottom: 0pt;">
              <strong><u>UNITED STATES SUPREME COURT</u></strong><b><u><br style="mso-special-character: line-break" />
              <br>
            </u></b><strong>8th AMENDMENT, DUE PROCESS LIMITS, and CIVIL RIGHTS ACTIONS</strong> <strong> APPLICABLE to&nbsp; DEATH PENALTY SCHEMES</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=408+U.S.+238">Furman v. Georgia, 408 U.S. 238 (1972)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=428+U.S.+238">Gregg v. Georgia, 428 U.S. 238 (1976)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=428+U.S.+242">Proffitt v. Florida, 428 U.S. 242 (1976)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=428+U.S.+262">Jurek v. Texas, 428 U.S. 262 (1976)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=428+U.S.+280">Woodson v. North Carolina, 428 U.S. 280 (1976)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em>(</em><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=428+U.S.+325">Stanislaus)
            Roberts v. Louisiana, 428 U.S. 325 (1976)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=465+U.S.+37">Pulley v. Harris, 465 U.S. 37 (1984)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=433+U.S.+584">Coker v. Georgia, 433 U.S. 584 (1977)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=458+U.S.+782">Enmund v. Florida, 458 U.S. 782 (1982)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=481+U.S.+137">Tison v. Arizona, 481 U.S. 137 (1987)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=492+U.S.+361">Stanford v. Kentucky, 492 U.S. 361 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=492+U.S.+302">Penry v. Lynaugh, 492 U.S. 302 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=477+U.S.+399">Ford v. Wainwright, 477 U.S. 399 (1986)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=481+U.S.+259">McClesky v. Kemp, 481 U.S. 259 (1987)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=506+U.S.+390">Herrera v. Collins, 506 U.S. 390 (1993)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=536+U.S.+304">Atkins v. Virginia, 536 U.S. 304 (2002)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=543+U.S.+551">Roper v. Simmons, 543 US 551 (2005)</a></span></em><em>
            <o:p></o:p>
          </em></p>
<p style="margin-top: 0; margin-bottom: 0;"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=125+S.Ct.+2088">Medellín v. Dretke, 125 S.Ct. 2088_(2005)</a></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=126+S.Ct.+2096">Hill v. McDonough, 126 S.Ct. 2096 (2006)</a></span></em><span style="mso-bidi-font-style: italic"><br />
                  <br />
            </span><strong>AGGRAVATING CIRCUMSTANCES, EVIDENCE, INSTRUCTIONS</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=430+U.S.+349">Gardner v. Florida, 430 U.S. 349 (1977)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=444+U.S.+420">Godfrey v. Georgia, 444 U.S. 420 (1980)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=486+U.S.+356">Maynard v. Cartwright, 486 U.S. 356 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=497+U.S.+764">Lewis v. Jeffers, 497 U.S. 764 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=497+U.S.+639">Walton v. Arizona, 497 U.S. 639 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=507+U.S.+463">Arave v. Creech, 507 U.S. 463 (1993)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=462+U.S.+862">Zant v. Stephens, 462 U.S. 862 (1983)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=484+U.S.+231">Lowenfield v. Phelps, 484 U.S. 231 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=486+U.S.+578">Johnson v. Mississippi, 486 U.S. 578 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=501+U.S.+808">Payne v. Tennessee, 501 U.S. 808 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=503+U.S.+159">Dawson v. Delaware, 503 U.S. 159 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=512+U.S.+1">Romano v. Oklahoma, 512 U.S. 1 (1994)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=534+U.S.+246">Kelly v. South Carolina, 534 US 246 (2002)</a></span></em></p>
<p style="margin-bottom: 0pt;">
              <strong>MITIGATING CIRCUMSTANCES, EVIDENCE</strong>,<strong> INSTRUCTIONS</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=438+U.S.+586">Lockett v. Ohio, 438 U.S. 586 (1978)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=455+U.S.+104">Eddings v. Oklahoma, 455 U.S. 104 (1982)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=476+U.S.+1">Skipper v. South Carolina, 476 U.S. 1 (1986)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=481+U.S.+393">Hitchcock v. Dugger, 481 U.S. 393 (1987)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=487+U.S.+164">Franklin v. Lynaugh, 487 U.S. 164 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=486+U.S.+367">Mills v. Maryland, 486 U.S. 367 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=492+U.S.+302">Penry v. Lynaugh, 492 U.S. 302 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=494+U.S.+370">Boyde v. California, 494 U.S. 370 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=497+U.S.+639">Walton v. Arizona, 497 U.S. 639 (1990)</a></span></em><em><span style="mso-spacerun: yes">
            </span></em>(Justice Scalia)</p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=494+U.S.+433">McKoy v. North Carolina, 494 U.S. 433 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=512+U.S.+154">Simmons v. South Carolina, 512 U.S. 154 (1994)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=522+U.S.+269">Buchanan v. Angelone, 522 U.S. 269, 118 S.Ct. 757 (1998)</a></span></em></p>
<p style="margin-top: 0;"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=125+S.Ct.+2456">Rompilla v. Beard, 125 S.Ct. 2456 (2005)</a><i>
  <o:p></o:p>
</i></p>
<p style="margin-bottom: 0;"><strong>OTHER PENALTY PHASE INSTRUCTIONS</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=463+U.S.+992">California v. Ramos, 463 U.S. 992 (1983)</a></span></em>, on remand</p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=37+Cal.3d+136">People v. Ramos (II), 37 Cal.3d 136 (1984)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=479+U.S.+538">California v. Brown, 479 U.S. 538 (1987), after remand, People v. Brown, 45 Cal.3d 1247 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=512+U.S.+967">Tuilaepa v. California, 512 U.S. 967 (1994)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=494+U.S.+299">Blystone v. Pennsylvania, 494 U.S. 299 (1990)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=494+U.S.+370">Boyde v. California, 494 U.S. 370 (1990)</a></span></em></p>
<p style="margin-bottom: 0pt;">
              <strong>JURY SELECTION, DELIBERATIONS and 6th AMENDMENT</strong> <strong>GUARANTEES</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=469+U.S.+810">Wainwright v. Witt, 469 U.S. 810 (1985)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=476+U.S.+79">Batson v. Kentucky, 476 U.S. 79 (1986)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=476+U.S.+162">Lockhart v. McCree, 476 U.S. 162 (1986)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=476+U.S.+28">Turner v. Murray, 476 U.S. 28 (1986)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=481+U.S.+648">Gray v. Mississippi, 481 U.S. 648 (1987)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=487+U.S.+81">Ross v. Oklahoma, 487 U.S. 81 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=500+U.S.+415">Mu'min v. Virginia, 500 U.S.415 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=504+U.S.+719">Morgan v. Illinois, 504 U.S. 719 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=519+U.S.+145">Greene v. Georgia, 519 U.S. 145 (1996)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=536+U.S.+584">Ring v. Arizona, 536 U.S. 584 (2002)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=127+S.Ct.+2218">Miller-El v. Dretke, 2004 WL 352542 (2004)</a></p>
<p style="margin-top: 0;"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=127+S.Ct.+2218">Uttecht v. (Cal Coburn) Brown 127 S.Ct. 2218 (2007)</a></p>
<p style="margin-bottom: 0;"><strong>APPELLATE REVIEW</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=474+U.S.+376">Cabana v. Bullock, 474 U.S. 376 (1986)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=494+U.S.+738">Clemons v. Mississippi, 494 U.S. 738 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=506+U.S.+40">Richmond v. Lewis, 506 U.S. 40 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=503+U.S.+222">Stringer v. Black, 503 U.S. 222 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=6+Cal.4th+457">People v. Bacigalupo, 6 Cal.4th 457 (1993)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=516+U.S.+10">Tuggle v. Netherland, 516 U.S. 10 (1995)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=544+U.S.+208">Pace v. DiGuglielmo, 544 US 208 (2005)</a></span></em></p>
<p style="margin-bottom: 0pt;">
              <strong>RIGHT TO EFFECTIVE ASSISTANCE OF COUNSEL</strong>          </p>
<p style="margin-top: 0; margin-bottom: 0;"><strong>AND APPOINTMENT OF COMPETENT EXPERTS</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=466+U.S.+668">Strickland v. Washington, 466 U.S. 668 (1984)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=470+U.S.+68">Ake v. Oklahoma, 470 U.S. 68 (1985)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=529+U.S.+362">Williams (Terry) v. Taylor, 529 US 362 (2000)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=537+U.S.+1149">Woodford v. Visciotti, 537 US 1149 (2002)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=539+U.S.+510">Wiggins v. Smith, 539 US 510 (2003)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=545+U.S.+374">Pompilla v. Beard, 545 US 374 (2005)</a></span></em><i><br />
              </i><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=127+S.Ct.+1933">
            Schriro v. (Jeffrey) Landrigan, 127 S.Ct. 1933 (2007)</a></span></em></p>
<p style="margin-bottom: 0pt;">
              <strong>PROSECUTORIAL MISCONDUCT</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=472+U.S.+320">Caldwell v. Mississippi, 472 U.S. 320 (1985)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=477+U.S.+168">Darden v. Wainwright, 477 U.S. 168 (1986)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=540+U.S.+668">Banks v. Dretke, 540 US 668 (2004)</a></span></em></p>
<p style="margin-bottom: 0pt;">
            <strong>POST-CONVICTION</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=499+U.S.+467">McClesky v. Zant, 499 U.S. 467 (1991)</a></span></em></p>
<p style="margin-top: 0;"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=125+S.Ct.+1807">Pace v. DiGuglielmo, 125 S.Ct. 1807 (2005)</a><em>
  <o:p></o:p>
</em></p>
<p style="margin-bottom: 0pt;">
              <b><u>
                  <br />
                  <st1:place w:st="on"></st1:place>
                  <st1:state w:st="on"></st1:state>
                  <strong>CALIFORNIA</strong> <strong>SUPREME COURT</strong></u></b></p>
<p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
<p style="margin-top: 0; margin-bottom: 0;"><b><strong>GENERAL</strong></b></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=42+Cal.3d+730">People v. Rodriguez, 42 Cal.3d 730 (1986)</a></span></em></p>
<p style="margin-bottom: 0;"><strong>SPECIAL CIRCUMSTANCES </strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><strong>(</strong><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=CA+PENAL+s190.2">Ann. Cal. Penal Code <span style="font-size: 8.5pt">§</span>190.2</a><strong>)</strong></p>
              <p style="margin-bottom: 0pt">
                  <strong>Insufficient narrowing claims</strong></p>
              <p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=5+Cal.4th+610">People v. Wader, 5 Cal.4th 610 (1993)</a></span></em></p>
              <p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=9+Cal.4th+83">People v. Crittenden, 9 Cal.4th 83 (1994)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=12+Cal.4th+1">People v. Sanchez, 12 Cal.4th 1 (1995)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+92">People v. Arias, 13 Cal.4th 92 (1996)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <strong>Financial gain special circumstance (&sect;190.2(a)(1))</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=37+Cal.3d+731">People v. Bigelow, 37 Cal.3d 731 (1984)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=44+Cal.3d+375">People v. (Gary) Howard, 44 Cal.3d 375 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=47+Cal.3d+983">People v. Edelbacher, 47 Cal.3d 983 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=54+Cal.3d+612">People v. Mickey, 54 Cal.3d 612 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=1+Cal.4th+1132">People v. (Albert) Howard, 1 Cal.4th 1132 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+599">People v. Noguera, 4 Cal.4th 599 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=11+Cal.4th+891">People v. Padilla, 11 Cal.4th 891 (1995)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+1164">People v. Jackson, 13 Cal.4th 1164 (1996)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=24+Cal.4th+434">People v. Staten, 24 Cal.4th 434 (2000)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=26+Cal.4th+81">People v. Catlin, 26 Cal.4th 81 (2001)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=28+Cal.4th+946">People v. McDermott, 28 Cal.4th 946 (2002)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=28+Cal.4th+486">People v. Michaels, 28 Cal.4th 486 (2002)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=30+Cal.4th+835">People v. Hernandez, 30 Cal.4th 835 (2003)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=31+Cal.4th+240">People v. Sapp, 31 Cal.4th 240 (2003)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=31+Cal.4th+822">People v. Crew, 31 Cal.4th 822 (2003)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-bottom: 0pt;">
                  <strong>Prior murder special circumstance (&sect;190.2(a)(2))</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=43+Cal.3d+584">People v. Hendricks, 43 Cal.3d 584 (1987)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=47+Cal.3d+1">People v. Malone, 47 Cal.3d 1 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=49+Cal.3d+200">People v. Andrews, 49 Cal.3d 200 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=53+Cal.3d+522">People v. Wharton, 53 Cal.3d 522 (1991)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=11+Cal.4th+1068">People v. Horton, 11 Cal.4th 1068 (1995)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+313">People v. Ray, 13 Cal. 4th 313 (1996)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=16+Cal.4th+153">People v. Williams, 16 Cal.4th 153 (1998)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=28+Cal.4th+557">People v. Gurule, 28 Cal.4th 557 (2002)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=32+Cal.4th+269">People v. Danks, 32 Cal.4th 269 (2004)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <strong>Multiple murder special circumstance (&sect;190.2(a)(3))</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=37+Cal.3d+302">People v. Turner, 37 Cal.3d 302 (1984)</a></span></em>, overturned by <em><span style="font-style: normal">
                        <a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=43+Cal.3d+1104">
                            People v. Anderson, 43 Cal.3d 1104 (1987)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=46+Cal.3d+833">People v. Crandell, 46 Cal.3d 833 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=45+Cal.3d+1189">People v. Bunyard, 45 Cal.3d 1189 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=48+Cal.3d+1142">People v. Hamilton, 48 Cal.3d 1142 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=16+Cal.4th+635">People v. (Darren) Williams, 16 Cal.4th 635 (1997)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=17+Cal.4th+468">People v. Dennis, 17 Cal.4th 468 (1998)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=23+Cal.4th+529">People v. Coddington, 23 Cal.4th 529 (2000)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=23+Cal.4th+692">People v. Lucero, 23 Cal.4th 692 (2000)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=29+Cal.4th+382">People v. Boyette, 29 Cal. 4th 382 (2002)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=107+Cal.App.4th+328">People v. Gomez, 107 Cal.App. 4th 328 (2003)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <strong>Avoiding or preventing arrest special circumstance (&sect; 190.2(a)(5))</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=37+Cal.3d+731">People v. Bigelow, 37 Cal.3d 731 (1984)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=48+Cal.3d+112">People v. Coleman, 48 Cal.3d 112 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+1233">People v. Cummings, 4 Cal.4th 1233 (1993)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+1">People v. Johnson, 4 Cal.4th 1 (1993)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <strong>Concealment or delivery of destructive device special circumstance (&sect;190.2(a)(6))</strong></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=50+Cal.3d+583">People v. Clark, 50 Cal.3d 583 (1990)</a></span></em></p>
<p style="margin-bottom: 0;"><strong>Peace officer special circumstance (&sect;190.2(a)(7))</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=42+Cal.3d+730">People v. Rodriguez, 42 Cal.3d 730 (1986)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=45+Cal.3d+386">People v. Odle, 45 Cal.3d 386 (1988)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=51+Cal.3d+1179">People v. Gonzalez, 51 Cal.3d 1179 (1990)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=14+Cal.4th+668">People v. (Dennis) Mayfield, 14 Cal.4th 668</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <strong>Witness special circumstance (&sect;190.2(a)(10))</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=39+Cal.3d+836">People v. Weidert, 39 Cal.3d 836 (1985)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=47+Cal.3d+746">People v. Garrison, 47 Cal.3d 746 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=51+Cal.3d+471">People v. Sanders, 51 Cal.3d 471 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+754">People v. Benson, 52 Cal.3d 754 (1990)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=53+Cal.3d+68">People v. Beardslee, 53 Cal.3d 68 (1991)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=10+Cal.4th+764">People v. Stanley, 10 Cal.4th 764 (1995)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+535%281996%29">People v. (Troy) Jones, 13 Cal.4th 535(1996)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <strong>Heinous, atrocious and cruel special circumstance (&sect;190.2(a)(14))</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=31+Cal.3d+797">People v. Superior Court (Engert), 31 Cal.3d 797 (1982)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=51+Cal.3d+47">People v. Sanders, 51 Cal.3d 47 (1990)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <strong>Lying-in-wait special circumstance (&sect;190.2(a)(15))</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=48+Cal.3d+527">People v. Morales, 48 Cal.3d 527 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=54+Cal.3d+787">People v. Edwards, 54 Cal.3d 787 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=5+Cal.4th+405">People v. Sims, 5 Cal.4th 405 (1993)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+1134">People v. Ceja, 4 Cal.4th 1134 (1993)</a></span></em>(Justice Kennard, concurring)</p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=15+Cal.4th+312">People v. Carpenter, 15 Cal.4th 312 (1997)</a></span></em><i><br />
                </i><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=36+Cal.4th+1114">
              People v. (Dean) Carter, 36 Cal.4th 1114 (2005)</a><span style="mso-spacerun: yes">&nbsp;</span></p>
<p>
                  <strong>Felony murder special circumstance (&sect;190.2(a)(17))</strong></p>
              
                  <p style="margin-bottom: 0pt">
                      <u>Mental state for actual killers and accomplices</u></p>
                  <p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=35+Cal.3d+131">Carlos v. Superior Court, 35 Cal.3d 131 (1983)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
                  <p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=42+Cal.3d+1104">People v. Anderson, 42 Cal.3d 1104 (1987)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=11+Cal.4th+568">People v. Estrada, 11 Cal.4th 568 (1995)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=9+Cal.4th+953">People v. Beeler, 9 Cal.4th 953 (1995)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=15+Cal.4th+1">People v. Marshall, 15 Cal.4th 1 (1997)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=16+Cal.4th+635">People v. (Daren) Williams, 16 Cal.4th 635 (1997)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                      <u>Independent felonious purpose requirement</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=27+Cal.3d+1">People v. Green, 27 Cal.3d 1 (1980)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=27+Cal.3d+303">People v. Thompson, 27 Cal.3d 303 (1980)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                      <u>Burglary</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+577">People v. (Blufford) Hayes, 52 Cal.3d 577 (1990)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=2+Cal.4th+629">People v. Clair, 2 Cal.4th 629 (1992)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                      <u>Kidnapping</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=37+Cal.3d+731">People v. Bigelow, 37 Cal.3d 731 (1984)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+1210">People v. Pensinger, 52 Cal.3d 1210 (1991)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+742">People v. Alcala, 4 Cal.4th 742 (1992)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=2+Cal.4th+870">People v. Raley, 2 Cal.4th 870 (1992)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                      <u>Arson</u></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=50+Cal.3d+583">People v. Clark, 50 Cal.3d 583 (1990)</a></span></em></p>
<p style="margin-bottom: 0;"><u>Robbery</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+577">People v. (Blufford) Hayes, 52 Cal.3d 577 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=54+Cal.3d+411">People v. Webster, 54 Cal.3d 411 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=1+Cal.4th+495">People v. Kelly, 1 Cal.4th 495 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=3+Cal.4th+026">People v. (Robert) Wilson, 3 Cal.4th 026 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+929">People v. Zapien, 4 Cal.4th 929 (1993)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=15+Cal.4th+1">People v. (Sammy) Marshall, 15 Cal.4th 1 (1997)</a></span></em><i><br />
                  </i><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=39+Cal.4th+641">
                      People v. (Fermin)Ledesma, 39 Cal.4th 641 (2006)</a><i style="mso-bidi-font-style: normal">
                              <o:p></o:p>
                  </i></p>
<p style="margin-bottom: 0pt;">
                      <u>Rape</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=1+Cal.4th+495">People v. Kelly, 1 Cal.4th 495 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+238">People v. Rowland, 4 Cal.4th 238 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=10+Cal.4th+1">People v. Cain, 10 Cal.4th 1 (1995)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=15+Cal.4th+312">People v. Carpenter, 15 Cal.4th 312 (1997)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-bottom: 0pt;">
                      <u>Torture special circumstance (<strong>§</strong>190.2(a)(18))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=44+Cal.3d+975">People v. Wade, 44 Cal.3d 975 (1988)</a></span></em>;                      </p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=20+F.3d+1312">Wade v. Calderon, 20 F.3d 1312 (9th Cir. 1994)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=48+Cal.3d+527">People v. Morales, 48 Cal.3d 527 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+1210">People v. Pensinger, 52 Cal.3d 1210 (1991)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=2+Cal.4th+870">People v. Raley, 2 Cal.4th 870 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+499">People v. Proctor, 4 Cal.4th 499 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=9+Cal.4th+83">People v. Crittenden, 9 Cal.4th 83 (1994)</a></span></em></p>

          <p style="margin: 0in 0in 0pt; margin-bottom: 0;">&nbsp;</p>
          <p style="margin: 0in 0in 0pt; margin-top: 0; margin-bottom: 0;"><strong><span style="font-weight: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=PENAL+CODE+s190.3">AGRAVATING AND MITIGATING FACTORS (PENAL CODE §190.3)</a></span></strong><strong></strong></p>
              <p style="margin: 0in 0in 0pt; margin-bottom: 0;">&nbsp;</p>
              <p style="margin: 0in 0in 0pt; margin-top: 0; margin-bottom: 0;">
                  &nbsp;<u>General</u></p>
              <p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=29+Cal.3d+733">People v. Murtishaw, 29 Cal.3d 733 (1981)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=38+Cal.3d+762">People v. Boyd, 38 Cal.3d 762 (1985)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=41+Cal.3d+247">People v. Davenport, 41 Cal.3d 247 (1985)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+569">People v. Tuilaepa, 4 Cal.4th 569 (1992), aff'd Tuilaepa v. California, 512 U.S.
              967 (1994)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+648">People v. Kaurish, 52 Cal.3d 648 (1990)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=51+Cal.3d+620">People v. Whitt, 51 Cal.3d 620 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=6+Cal.4th+457">People v. Bacigalupo, 6 Cal.4th 457 (1993)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=9+Cal.4th+83">People v. Crittenden, 9 Cal.4th 83 (1994)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=7+Cal.4th+988">People v. Kirkpatrick, 7 Cal.4th 988 (1994)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=11+Cal.4th+694">People v. Medina, 11 Cal.4th 694 (1995)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Circumstances of the crime (factor (a))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=54+Cal.3d+787">People v. Edwards, 54 Cal.3d 787 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=5+Cal.4th+877">People v. Montiel, 5 Cal.4th 877 (1993)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+569">People v. Tuilaepa, 4 Cal.4th 569 (1992), aff'd Tuilaepa v. California, 512 U.S.
              967 (1994)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=9+Cal.4th+879">People v. Champion and Ross, 9 Cal.4th 879 (1995)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Forceful or violent criminal activity (factor (b))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=41+Cal.3d+144">People v. Balderas, 41 Cal.3d 144 (1985)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+577">People v. (Blufford) Hayes, 52 Cal.3d 577 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=54+Cal.3d+140">People v. Mickle, 54 Cal.3d 140 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=2+Cal.4th+271">People v. Roberts, 2 Cal.4th 271 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+569">People v. Tuilaepa, 4 Cal.4th 569 (1992), aff'd Tuilaepa v. California, 512 U.S.
              967 (1994)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=2+Cal.4th+1">People v. Visciotti, 2 Cal.4th 1 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=9+Cal.4th+879">People v. Champion and Ross, 9 Cal.4th 879 (1995)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+1164">People v. (Noel) Jackson, 13 Cal.4th 1164 (1996)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+92">People v. Arias, 13 Cal.4th 92 (1996)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-bottom: 0pt;">
                  <u>Prior felony conviction (factor (c))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+577">People v. (Blufford) Hayes, 52 Cal.3d 577 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+648">People v. Kaurish, 52 Cal.3d 648 (1990)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=1+Cal.4th+324">People v. Price, 1 Cal.4th 324 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=3+Cal.4th+195">People v. Pride, 3 Cal.4th 195 (1992)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=9+Cal.4th+879">People v. Champion and Ross, 9 Cal.4th 879 (1995)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=10+Cal.4th+764">People v. (Gerald) Stanley, 10 Cal.4th 764 (1995)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Extreme mental or emotional disturbance (factor (d))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=8+Cal.4th+137">People v. Turner, 8 Cal.4th 137, 8 Cal.4th 440A (1994)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+799">People v. Marshall, 13 Cal.4th 799 (1996)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=15+Cal.4th+619">People v. Holt, 15 Cal.4th 619 (1997)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Victim participated or consented in homicidal act (factor (e))</u></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=51+Cal.3d+620">People v. Whitt, 51 Cal.3d 620 (1990)</a></span></em></p>
<p style="margin-bottom: 0;"><u>Moral justification factor (f))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=53+Cal.3d+618">People v. Cox, 53 Cal.3d 618 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=53+Cal.3d+152">People v. Morris, 53 Cal.3d 152 (1991)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=2+Cal.4th+1">People v. Visciotti, 2 Cal.4th 1 (1992)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Under substantial domination of another (factor (g))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=47+Cal.3d+207%281988%29">People v. Adcox, 47 Cal.3d 207(1988)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=53+Cal.3d+152">People v. Morris, 53 Cal.3d 152 (1991)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Mental disease or defect or intoxication (factor (h))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=48+Cal.3d+1001">People v. Murtishaw, 48 Cal.3d 1001 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+313">People v. Ray, 13 Cal.4th 313 (1996)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=15+Cal.4th+619">People v. Holt, 15 Cal.4th 619 (1997)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Age (factor (i))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+155">People v. Sandoval, 4 Cal.4th 155 (1992)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+569">People v. Tuilaepa, 4 Cal.4th 569 (1992), aff'd Tuilaepa v. California, 512 U.S.
              967 (1994)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Accomplice with relatively minor participation (factor (j))</u></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=1+Cal.4th+1132">People v. (Albert) Howard, 1 Cal.4th 1132 (1992)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+499">People v. Proctor, 4 Cal.4th 499 (1992)</a></span></em></p>
<p style="margin-bottom: 0pt;">
                  <u>Extenuated gravity of crime/catch-all (factor (k)</u>)</p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=34+Cal.3d+858">People v. Easley, 34 Cal.3d 858 (1983)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+394">People v. Avena, 13 Cal.4th 394 (1996)</a></span></em></p>

          <p style="margin: 0in 0in 0pt; margin-bottom: 0;">&nbsp;            </p>
          <p style="margin-top: 0; margin-bottom: 0;"><strong>JURY ISSUES</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=28+Cal.3d+1">Hovey v. Superior Court, 28 Cal.3d 1 (1980)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=54+Cal.3d+707">People v. Fuentes, 54 Cal.3d 707 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=6+Cal.4th+585">People v. Cudjo, 6 Cal.4th 585 (1993)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=6+Cal.4th+97">In re Hitchings, 6 Cal.4th 97 (1993)</a></span></em></p>
<p style="margin-bottom: 0pt;">
              <strong>INEFFECTIVE ASSISTANCE OF COUNSEL</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=43+Cal.3d+171">People v. Ledesma, 43 Cal.3d 171 (1987)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=48+Cal.3d+1194">People v. Bloom, 48 Cal.3d 1194 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=3+Cal.4th+578">In re (Earl) Jackson, 3 Cal.4th 578 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=3+Cal.4th+945">In re Wilson, 3 Cal.4th 945 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=1+Cal.4th+584">In re Marquez, 1 Cal.4th 584 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=6+Cal.4th+901">In re Neely, 6 Cal.4th 901 (1993)</a></span></em><span style="mso-spacerun: yes">&nbsp;</span></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=12+Cal.4th+694">In re Avena, 12 Cal.4th 694 (1995)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=13+Cal.4th+552">In re (Troy) Jones, 13 Cal.4th 552 (1996)</a></span></em></p>
<p style="margin-bottom: 0pt;">
              <strong>PROSECUTORIAL MISCONDUCT</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=52+Cal.3d+754">People v. Benson, 52 Cal.3d 754 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+238">People v. Rowland, 4 Cal.4th 238 (1991)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=3+Cal.4th+578">In re (Earl) Jackson, 3 Cal.4th 578 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=4+Cal.4th+155">People v. Sandoval, 4 Cal.4th 155 (1992)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=16+Cal.4th+600">People v. Quartermain, 16 Cal.4th 600 (1997)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=17+Cal.4th+800">In re Hill, 17 Cal.4th 800 (1998)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=38+Cal.4th+932">People v. (Jose) Gonzalez, 38 Cal.4th 932 (2006)</a></span></em><span
                          class="resultsublistitem1"><i style="mso-bidi-font-style: normal"><span style="font-size: 11pt;
                              color: black">
  <o:p></o:p>
</span></i></span></p>
<p style="margin-bottom: 0;"><strong><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=37+Cal.4th+1218"><span style="color: windowtext; text-decoration: none; text-underline: none"><span style="margin-top: 0; margin-bottom: 0pt;"><strong>JUDICIAL MISCONDUCT</strong></span></span><span style="font-weight: normal"><br />
  </span></a></strong></p>
<p style="margin-top: 0;"><strong><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=37+Cal.4th+1218"><span style="font-weight: normal">People v. (Gregory Allen) Sturm, 37 Cal.4th
            1218 (2006)</span></a></strong></p>
<p style="margin-bottom: 0;"><strong><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=35+Cal.4th+40"><span style="color: windowtext; text-decoration: none; text-underline: none"><span style="margin-top: 0; margin-bottom: 0pt;"><strong>ATKINS</strong></span></span></a></strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><strong><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=35+Cal.4th+40"><span style="font-weight: normal">In re Hawthorne, 35 Cal.4th 40 (2005)</span></a></strong></p>
<p style="margin-top: 0;"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=40+Cal.4th+999">People v. Superior Court (Vidal) 40 Cal.4<sup>th</sup> 999 (2007)</a><strong><span
                      style="font-weight: normal">
  <o:p></o:p>
  </span></strong></p>
<p style="margin-bottom: 0;"><strong>APPELLATE REVIEW</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=33+Cal.3d+29">People v. Robertson, 33 Cal.3d 29 (1982)</a></span></em><span style="mso-spacerun: yes">
</span>(Justice Broussard, concurring)</p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=49+Cal.3d+991">People v. Lang, 49 Cal.3d 991 (1989)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=50+Cal.3d+262">People v. Lewis, 50 Cal.3d 262 (1990)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=53+Cal.3d+68">People v. Beardslee, 53 Cal.3d 68 (1991)</a></span></em></p>
<p style="margin-top: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=6+Cal.4th+585">People v. Cudjo, 6 Cal.4th 585 (1993)</a></span></em></p>
<p style="margin-bottom: 0pt;">
              <strong>POST-CONVICTION</strong></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=5+Cal.4th+750">In re Clark, 5 Cal.4th 750 (1993)</a></span></em></p>
<p style="margin-top: 0; margin-bottom: 0;"><em><span style="font-style: normal"><a href="http://www.westlaw.com/find/default.wl?rs=CLWD3.0&vr=2.0&cite=9+Cal.4th+464">People v. Duvall, 9 Cal.4th 464 (1995)</a></span></em><span style="mso-spacerun: yes">