      <h3>Employment Opportunities at CAPSF</h3>
      
      <p>CAP employs attorneys, caseworkers, and law student interns to accomplish its work. 
        Their responsibilities involve working on issues of general importance to capital litigation: 
        reviewing case records; preparing research memoranda, pleadings, briefs, and other legal 
        documents; client relations; case assistance to appointed panel attorneys; case investigation; 
        preparing training and resource materials; digesting recent case decisions; and participating 
        in the development of litigation strategies.</p>
      <p>The selection process for attorneys, fellows, and interns is ongoing. To apply for 
        these positions, please submit a cover letter (indicate the position in which you are 
        interested and when you are available), a r&eacute;sum&eacute;, a writing sample, and 
        the names and telephone numbers of two references familiar with your skills and 
        experience.&nbsp; If you are interested in a staff position, please send your email to 
        <%= mail_to "hiring@capsf.org", nil, :replace_at => "_at_", :replace_dot => "_dot_" %>.&nbsp; If you are a law student 
        interested in interning for CAP, please send your email to 
        <%= mail_to "internships@capsf.org",nil, :replace_at => "_at_", :replace_dot => "_dot_" %>. </p>
      <p>We particularly value experience working with people of backgrounds similar to
        those of our clients and their communities.  Since nearly all of the men 
        and women on California&rsquo;s death row are from deprived backgrounds, 
        and the majority are people of color, we request that applicants relate how 
        their life experience, training, and work history have prepared them to 
        understand and work well with the clients we serve and their communities.</p>
      <p>The California Appellate Project, an equal opportunity employer, does not   
        discriminate on the basis of race, color, religious creed, national origin, 
        ancestry, physical or mental disability, medical condition, marital status, 
        pregnancy, sex, sexual orientation, age, or any other criteria protected under 
        federal, state or local law. In our continuing effort to attain greater 
        diversity within our organization and to improve the quality of services we 
        provide to a diverse client base, we actively encourage applications from 
        members of groups, including racial and ethnic minorities, that are under-represented 
        in the legal profession.</p>
