
      <h2>Welcome</h2>
        <p>Welcome to the California Appellate Project - San Francisco web site. 
        The purpose of this site is to act as a resource for counsel representing death row inmates
        on direct appeal and state habeas corpus proceedings. For assistance in non-capital appeals
        in the Second District of the California Court of Appeal, contact the CAP offices in Los Angeles. </p>
        <p>CAP's goal is to make this web site as useful and easy to use as possible.
        If you have any suggestions for improving this site, or are experiencing any difficulty using 
        any aspect of this site, please contact CAP at (415) 495-0500 or e-mail 
        <%= mail_to "sitemaster@capsf.org", nil, :replace_at => "_at_", :replace_dot => "_dot_" %>.</p>

      <h3>About California Appellate Project</h3>
      <p>The California Appellate Project in San Francisco (CAP-SF) is a non-profit corporation 
      established by the State Bar of California in 1983 as a legal resource center to implement 
      the constitutional right to counsel for indigent persons facing execution. CAP serves the largest
      population of condemned individuals in the country and is funded primarily by a contract with the 
      Judicial Council of California. </p>
       
      <p>CAP-SF assists private counsel appointed by the California Supreme Court to represent indigent 
      defendants in capital cases challenging their convictions and sentences on direct appeal and through
      habeas corpus proceedings, and provides them with professional training and litigation resource materials.
      In addition, CAP-SF assists unrepresented death row inmates by collecting and preserving evidence for their
      post-conviction claims, and by providing advocacy as needed during the period of incarceration before
      counsel is appointed.  CAP-SF also consults, at the request of the judiciary, on policy matters regarding
      indigent defense representation in capital cases.
      </p>

     

