<div class="hero-unit">
	<h1 class="">California Appellate Project<br> San Francisco</h1>
	<p class="lead">Providing Assistance to private counsel appointed to represent indigent persons on California's death row.</p><%= mail_to "internships@capsf.org", "Apply Now!", class: 'btn btn-info'  %>
</div>

<h2>Internship Opportunities</h2>
<hr>

<h3>What do we do?</h3>
<ul>
	<li>Assist appointed counsel on post-judgment death penalty cases in both habeas corpus and appellate matters; </li>
	<li>Provide case assistance to unrepresented indigent prisoners on death row;</li>
	<li>Track judicial and legislative developments affecting death penalty litigation;</li>
	<li>Conduct death penalty defense training seminars for capital defense professionals and law students; and </li>
	<li>Publish numerous documents including: a monthly newsletter, RECAP; a comprehensive death penalty manual for California attorneys; the National Death Penalty Information Index; an extensive BriefBank; and other resources.</li>
</ul>

<h3>Applying for an Internship at CAP</h3>
<p>The selection process for fellows, interns and volunteers is ongoing. For interested applicants, send an email to CAP along with a <strong>cover letter, resume, a writing sample, and the names and telephone numbers of two references</strong> who are familiar with your skills and experience. Also, include information about the dates when you would like to work at CAP. We ask internship applicants to relate how their life experience, training, and work history have prepared them to understand and work well with the clients we serve and their communities. CAP is an equal opportunity employer. Nearly all of the men and women on California’s death row are from deprived backgrounds and the majority of this population are people of color. We value experience working with people of back- grounds similar to those of our clients.</p> <p><strong>Applications:</strong> To apply for an internship at CAP send the internship applications material to <%= mail_to "internships@capsf.org", nil, :replace_at => "_at_", :replace_dot => "_dot_" %>.</p>

<h3>Examples of Past Internship Assignments</h3>
<ul>
	<li>Draft a habeas claim regarding failure to inform defendant of a plea offer.</li>
	<li>Research life chronology, family history, and genealogy.</li>
	<li>Analyze witness lists and trial testimony; create lists of additional witnesses.</li>
	<li>Research and assess the validity of expert testimony presented at trial.</li>
	<li>Summarize the penalty phase of a trial transcript.</li>
	<li>Collect and organize litigation resource materials.</li>
	<li>Evaluate crime scene evidence.</li>
	<li>Review trial testimony, witness statements, and police reports for discrepancies.</li>
	<li>Write an authoritative article on the media gag rule and outsider access to prisoners on death row.</li>
	<li>Assist in preparing litigation outlines and chronologies.</li>
	<li>Draft memoranda on admissibility of evidence of gang affiliation.</li>
</ul>

<h3>Death Row in California</h3>
<p>The state of California has the largest death row population in the nation. In 2012, there are 725 men and women awaiting execution in California. There are over 300 prisoners who are still awaiting appointment of counsel for all or part of their appeal. In 1972, the California Supreme Court declared the death penalty cruel and unusual punishment in violation of state constitution. In 1977, California reinstated the death penalty and has since executed thirteen men. Men on death row are housed at San Quentin State Prison, north of San Francisco. Women on death row are housed at the Central California Women’s Facility near Fresno.</p>

<h3>Why Intern at CAP?</h3>
<p>California Appellate Project is committed to cultivating a new generation of criminal defense attorneys. CAP recruits a small number of students each school term. Under the supervision of an experienced post-conviction attorney, interns at CAP help provide documentary support, record collection, investigative review, research, writing, and technical assistance to counsel who are appointed to represent indigent persons incarcerated on California’s death row.</p>
<p>Summer interns at CAP work full-time for at least 10 weeks. During this time CAP provides a week of intense legal training. During the school year, students may work as externs in our San Francisco office. CAP relies on students to fund their internships with public interest grants or other alternative financial support. We welcome students who can volunteer, receive school credit, or get a public interest program grant to support their work at CAP.</p>
