<div id="content-left">

  <div id="content-left-in">
    <div class="article box">
      <h3>Thank You!</h3>
        <p class="nomb">We attempt to limit access to our website to those doing capital defense work.
        CAP's Website Administrator will take into consideration your application for access and send you an email.
        If the Administrator has any further questions for you they will contact you. If you would like to contact us,
        feel free to email,
        <%= mail_to "sitemaster@capsf.org", nil, :replace_at => "_at_", :replace_dot => "_dot_" %>.</p>
    </div>
  </div>
</div>
     

