<div id="content-left">

  <div id="content-left-in">
    <div class="article box">

        <h3>Disclaimer and Limitation of Liability</h3>

        <p>The California Appellate Project (&quot;CAP&quot;) Website is available on a 24-hour a day, 
	7 days a week non-guaranteed basis; all data on the system is informational only and is not 
        advisory nor guaranteed to be accurate. Users are strongly encouraged to &quot;Shepardize&quot; 
	everything. </p>

       	<p>Passwords, e-mail messages or computer files may not be distributed to others, and if it is 
	discovered that a user has allowed a non-user to access the CAP Website or have copies of the 
	computer files from the CAP Website, their access privileges may be suspended or revoked. Users 
	may access any of the files listed on the system menus or retrieved from any database via the 
	CAP Website, but may not attempt to enter any non-listed areas on the CAP Website or attempt to 
	learn or use the passwords of other users.</p>
	
        <p>Users must be practicing criminal defense attorneys. Whether files received from the CAP Website 
	carry a copyright or not, it is understood that those files may not be placed on any other internet 
	sites or storage devices intended for use by anyone as a commercial or non-commercial information 
	service or database without previous written permission obtained from CAP. </p>

        <p>This system is monitored to ensure proper operation, to verify the functioning of applicable 
	security features and for other like purposes. Anyone using this system expressly consents to such 
	monitoring. Unauthorized attempts to modify any information stored on this system, to defeat or 
	circumvent security features, or to utilize this system for other than its intended purposes are 
	prohibited and may result in criminal prosecution. </p>
    
        <h3>Restriction of Liability</h3>
        <p>CAP makes no claims, promises or guarantees about the accuracy, completeness, or adequacy of the 
	contents of this website and expressly disclaims liability for errors and omissions in the contents 
	of this web site. No warranty of any kind, implied, expressed or statutory, including but not limited 
	to the warranties of non-infringement of third party rights, title, merchantability, fitness for a 
	particular purpose and freedom from computer virus, is given with respect to the contents of this 
	web site or its hyperlinks to other Internet resources. Reference in this web site to any specific 
	commercial products, processes, or services, or the use of any trade, firm or corporation name 
	is for the information and convenience of the registered users, and does not constitute endorsement, 
        recommendation, or favoring by the CAP.</p>
    </div>
  </div>
  
</div>
