<div id="content-left">
  <div id="content-left-in">
    <div class="article box">
      <h3>Attorney Appointments to Capital Appeals and Habeas Corpus Proceedings</h3>
      <p>The California Supreme Court maintains a panel of attorneys who are qualified   
      for appointment to capital appeals and Habeas Corpus Proceedings. Attorneys   interested 
      in joining this panel should examine the California Supreme Court&rsquo;s   
      <a href="http://www.courtinfo.ca.gov/courts/supreme/dpenalty.htm" class="bodynav" target="_blank">website</a>, 
      which sets forth the qualifications for panel appointment (Rules of Court 76.6)   and describes how to apply. 
      Applications should be directed to Robert Reichman,   the Automatic Appeals Monitor at the California Supreme 
      Court, not to   CAP.</p>
      
      <p>CAP does, however, maintain a compilation of material for review by   attorneys seeking appointment by the 
      California Supreme Court in Automatic   Appeals and/or Habeas Corpus proceedings. Although the actual documents 
      can not   be posted here because of copyright restrictions, the following link is to an   index of these materials: 
      <a href="CSCLib.asp" class="bodynav">CSC Library</a>.   Please note: Citations in the index are linked to Westlaw.com,
      who will charge   the user's account for on-line access.</p>          
    </div>
    <div class="article box">
      <h3>Appointment to Non-Capital Appeals</h3>
      <p>Attorneys who are interested in appointment to non-capital appeals should contact one of the Court 
      of Appeal projects that serve the six Appellate Districts of California. Interested attorneys may apply 
      to as many of these panels as they wish, although a logical first step is to apply to the project which 
      serves the area in which the attorney practices and resides. The five projects which serve the six Appellate
      Districts are: <a href="http://www.fdap.org" class="bodynav">First District Appellate Project</a>, 
      <a href="http://www.lacap.com" class="bodynav">California Appellate Project Los Angeles</a>, 
      <a href="http://www.capcentral.org" class="bodynav">Central California Appellate Program</a>, 
      <a href="http://www.adi-sandiego.com" class="bodynav">Appellate Defenders Incorporated</a>, 
      <a href="http://www.sdap.org" class="bodynav">Sixth District Appellate Program</a> (Central California 
      Appellate Program in Sacramento serves both the 3rd and 5th districts.)  CAP&rsquo;s office in Los Angeles 
      (CAP-LA) contracts to serve the Second Appellate District for non-capital appeals only. CAP-LA does not 
      deal with any capital cases, and neither do any of the other Court of Appeal projects. The CAP-SF office 
      assists only in capital appeals.</p>
    </div>
    <div class="article box">
      <h3>Inmate Communications With CAPSF</h3>
      <p>Many non-capital inmates seeking assistance on their appeals, or on habeas corpus, contact CAP-SF. 
      We refer almost all of these inquiries to the various Court of Appeal appointed counsel projects. The San 
      Francisco office of the California Appellate Project (CAP-SF) assists only in the representation of persons 
      who have been sentenced to death in California.</p> 
    </div>
    <div class="article box">
      <h3>Non-Capital Appellate Assistance on Non-Capital Appeals or Habeas Corpus</h3>
      <p>Inmates seeking appellate assistance in non-capital appeals or habeas corpus should contact 
      the Court of Appeal appointed counsel project serving the county in which the trial occurred 
      (for state appeal proceedings, see link above), or the Office of the Federal Defender within 
      the federal district serving that county (for federal habeas corpus proceedings).</p> 
    </div>
    <div class="article box">
      <h3>News Media Communication</h3>
      <p>Because the death penalty is an issue of public concern, the news media often contact CAP for 
      information about specific cases or for general background information about capital punishment. 
      CAP's policy is not to comment on specific cases, but to refer inquiries to the appointed counsel 
      in that case. CAP may be able to provide some general information about the death penalty, but our 
      resources are limited and other entities may be better equipped to address those inquiries. Persons 
      inquiring should consider contacting such sources of information as the California Supreme Court, 
      the Attorney General, the Death Penalty Information Center, Death Penalty Focus of California or 
      California Attorneys For Criminal Justice, as appropriate to the inquiry.</p>
    </div>
  </div>
</div>
