<p>Welcome <%= @resource.email %>!</p>

<p> We attempt to limit access to our website to those doing capital defense work.
    CAP's Site Administrator will take into consideration your application for access and send you an email.
    If the Administrator has any further questions for you they will contact you.</p>


<p>Your unique account key is: <%= @resource.confirmation_token%></p>
